@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --primary-color: #1E91D6;
    --secondary-color: #16C172;
    --icon-size: 25px;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
}

h3 {
    margin-bottom: 0;
}

p {
    margin: 0;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
    background-color: var(--primary-color);
    grid-row: span 2;
}

.dashboard-options {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.dashboard-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.dashboard-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr
}

.searchbar-container, .greeting-container {
    padding-left: 3rem;
}

.searchbar-container {
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
}

.searchbar {
    background-color: lightgray;
    width: 50rem;
    height: 25px;
    border-radius: 20px;
}

.user-info, .buttons {
    padding-right: 5rem;
}

.user-info {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-icon {
    border-radius: 100%;
}

.profile-icon.small {
    width: 2.5rem;
    height: 2.5rem;
}

.profile-icon.large {
    width: 5rem;
    height: 5rem;
}

.username {
    font-size: max(12px, 1.25rem);
}

.bold {
    font-weight: bold;
}

.greeting-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.greeting {
    line-height: 2rem;
}

.small-text::after {
    content: '\a';
    white-space: pre;
}

.large-text {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    padding: 0.75rem 2rem;
}

.main-content {
    background-color: lightgray;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects-container {
    padding-left: 1.5rem;
    grid-row: span 2;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.project-card {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.project-header, .project-content {
    padding-left: 1rem;
}

.project-options {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.project-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}
